@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&family=Roboto:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway' , sans-serif;
    height: 100vh;
    width: 100%;
}

.wrapper{
    position: relative;
    width: 1440px;
    height: 1024px;  
    background: #FFFFFF;
    border-radius: 34px;
}

.navbar h1{
    position: absolute;
    width: 170px;
    height: 33px;
    left: 47px;
    top: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 33px;
/* identical to box height */


    color: #000000;
}

a{
    text-decoration: none;
}

#home{
    position: absolute;
    width: 67px;
    height: 29px;
    left: 543px;
    top: 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
}

#projects {    
    position: absolute;
    width: 78px;
    height: 25px;
    left: 677px;
    top: 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
/* identical to box height */
    color: #000000;

}

#shop{
    position: absolute;
width: 48px;
height: 25px;
left: 816px;
top: 45px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 25px;
/* identical to box height */


color: #000000;

}

#about{
    position: absolute;
width: 56px;
height: 25px;
left: 925px;
top: 45px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 25px;
/* identical to box height */


color: #000000;

}

#contact{
    position: absolute;
width: 104px;
height: 25px;
left: 1042px;
top: 45px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 25px;
/* identical to box height */


color: #000000;
}

.buttons{
    position: absolute;
    padding: 20px 30px;
    color: black;
    width: 150px;
    height: 43px;
    right: 98px;
    top: 38px;
    background: linear-gradient(96.81deg, #000000 -492.84%, #FDB700 129.16%);
    border-radius: 12px;

}

.buttons a {
    position: absolute;   
    font-size: 15px;
    width: 120px;
    height: 10px;
    bottom: 10px;
    left: 21px;
    top: 15px;
    font-family: 'Raleway' , sans-serif;
    font-style: normal;
    font-weight: normal;
    
    color: #000000;
    
}



.text h1{
    
position: absolute;
width: 400px;
left: 100px;
top: 180px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 63px;
line-height: 73px;
background: -webkit-linear-gradient(#000000 , #FDB700);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

#prev {
    position: absolute;
    width: 52px;
    height: 23px;
    left: 750px;
    bottom:453px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    color: #554F4F;

}


#next{
    position: absolute;
    width: 53px;
    height: 23px;
    left: 800px;
    bottom: 453px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 23px;
    color: #000000;

}

.furniture{
    position: absolute;
    width: 330px;
    height: 530px;
    left: 380px;
    bottom: 160px;
    border-radius: 42px;
    margin: 50px;
    

}

.illustration{
    position: absolute;
    width: 1000px;
    height: 600px;
    bottom: 140px;
    right: 1px ;
    
    
}